@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: url(../assets/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  padding: 30px 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.contact-me-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(32px);
  display: none;
  justify-content: center;
  align-items: center;
}

.contact-me-content {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.contact-me-close-button {
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);

  display: flex;
  width: 100%;
  height: 38px;
  padding: 12px 15px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact-me-close-button:hover {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
}

.top-settings {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: auto;
  justify-content: right;

  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
}

.top-settings-button {
  display: flex;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: stretch;

  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);

  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.2s cubic-bezier(0.5, 1, 0.89, 1);
}

.top-settings-button:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  transition: 0.2s cubic-bezier(0.5, 1, 0.89, 1);
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  height: 100%;
}

.inner-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  height: 100%;
}

.left-inner-div {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
  flex: 1;
}

.left-inner-div-content {
  flex: 0 0 auto;
  width: 100%;
}

.left-inner-div-bottom {
  flex: 1 1 0;
  width: 100%;
}

.intro {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.card-file-title {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-file-title p {
  color: rgba(255, 255, 255, 0.5);
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-file-title .card-title-icon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.intro img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  user-select: none;

  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  object-fit: contain;
}

.open-intro {
  align-self: stretch;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.cta-button-contact-me {
  display: inline-flex;
  width: 100%;
  height: 38px;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);

  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cta-button-contact-me svg {
  width: 34px;
  height: 100%;
  flex-shrink: 0;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.cta-button-contact-me:hover {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
}

.cta-button-contact-me:hover svg:first-of-type {
  display: none;
}

.cta-button-contact-me svg:last-of-type {
  display: none;
}

.cta-button-contact-me:hover svg:last-of-type {
  display: inline;
}

.skills-list {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  height: 35px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.project-view {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
}

.project-showcase {
  display: flex;
  padding: 10px;
  align-items: flex-end;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 8px;
  outline: 2px solid rgba(255, 255, 255, 0.4);
  background: url(img/project.webp) lightgray 50% / cover no-repeat;
}

.project-showcase-desc {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;

  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(25px);
}

.project-showcase-heading {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-showcase-title {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.project-stack-container {
  display: flex;
  height: 24px;
  align-items: flex-start;
  gap: 0 5px;
  flex-wrap: wrap;
}

.project-stack-container img {
  height: 100%;
  aspect-ratio: 1/1;
}

.view-all-projects-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 5px 0;
  gap: 5px;
  align-self: stretch;

  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);

  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.view-all-projects-button:hover {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
}

.view-all-projects-button:hover svg:first-of-type {
  display: none;
}

.view-all-projects-button svg:last-of-type {
  display: none;
}

.view-all-projects-button:hover svg:last-of-type {
  display: inline;
}

.cta-button-contact-me svg {
  width: 34px;
  height: 100%;
  flex-shrink: 0;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

/* For when I learn to code in nextjs */
/* .funny-status-info {
  display: flex;
  min-width: 120px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;

  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
}

.spotify-player-window {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.spotify-player-window img {
  width: 100px;
  height: 100px;

  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  object-fit: cover;
}

.spotify-player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.spotify-now-playing {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.spotify-author {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.spotify-time-elapsed {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.spotify-progressbar {
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 66.04%,
      rgba(255, 255, 255, 0.2) 66.04%
    ),
    rgba(255, 255, 255, 0.2);
}

.spotify-progressbar-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
} */

.weather-time-info-container {
  display: grid;
  height: auto;
  row-gap: 10px;
  column-gap: 10px;
  align-self: stretch;
  grid-template-rows: fit-content(100%);
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.wt-container {
  display: flex;
  min-width: 120px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 1 / span 1;

  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
}

.time-container {
  grid-column: 1 / span 1;
}

.date-container {
  grid-column: 2 / span 1;
}

.weather-container {
  grid-column: 3 / span 2;
}

.main-useless-card-text {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sub-useless-card-text {
  color: rgba(255, 255, 255, 0.5);
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1036px) {
  main {
    padding: 30px 30px;
  }
}
